$header-height: 100px;

$haventower-red: #E51B23;

$header-font: 'Oswald', sans-serif;
$header-background-color: #f1f1f1;
$header-nav-font-color: #252932;
$nav-hover-color: $haventower-red;
$nav-active-color: $haventower-red;

$float-box-shadow: 0 15px 20px -12px rgba(0,0,0, 0.8);

$main-image-height: 800px;